.registerForm {
    display: flex;
    flex-direction: column;
  &__header {
    display: flex;
    justify-content: space-between;
      &__title {
    color: white;
    border-top: solid 6px #1F2243;
    border-right: solid 6px #1F2243;
    transition: ease-in-out;
    background-color: #93ad18;
    padding:15px;
    height: 10%;
    text-align: end;
    }
  }

&__main-content {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
&__aside {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
}
.ant-form-vertical .ant-form-item-label > label {
  color: white;
  font-weight: bold;
}

.department { 
  color: white;
  width: 40%;
  padding: 20px;
  background-color: #151730;
  display: flex;
  flex-direction: column;
}


.address, .mainInfo  { 
  width: 40%;
  padding: 20px;
  background-color: #151730;
}

.labelFirst {
  display: flex;
  flex-direction: column-reverse;
}

.inputSpace {
  margin-bottom: 15px;
}

.save {
  margin: 0 auto;
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
      font-size: 18px;
      padding: 20px;
      color: white;
      background-color: #2a8713;
      border: none;
      &:hover {
        background-color: #94c389;
        color: #1F2243;
      }
  }
}

.ant-select-item {
  transition: none;
}
.ant-picker-cell:hover:not(.ant-picker-cell-selected):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end):not(.ant-picker-cell-range-hover-start):not(.ant-picker-cell-range-hover-end) .ant-picker-cell-inner {
  background: unset;
}

.ant-picker-cell-inner{
  transition: none;
  &:hover {

    background-color: #2a8713 !important;
    color: white;
  }
}
.ant-select-item-option {
  &:hover {
    background-color: #2a8713;
    color: white;
  }
}

.ant-picker-suffix {
  color: #2a8713;
}

.content {
  text-align: center;
  height: 100%;
  padding: 15px;
}
.coloris {
  background-color: #1F2243;
  color: white;
}

.titles {
  height: 50%;
  margin-top: -35px;
}

.change {
  background-color: #1F2243 !important;
  color: white;
  cursor:default;
  &:hover {
    color: white !important;
  }
}

