.registerForm {
    position: relative;
    display: flex;
    flex-direction: column;
  //   grid-template-columns: 2fr 2fr; 
  //   // grid-template-rows: 1fr 1fr; 
  //   gap: 5px 5px; 
  //   grid-template-areas: 
  //     "mainInfo address"
  //     "department save"; 
  //     justify-items: center; 
  // align-items: center;

  &__title {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    border-top: solid 6px #1F2243;
    border-right: solid 6px #1F2243;
    transition: ease-in-out;
    background-color: #93ad18;
    padding:15px;
}
&__main-content {
  margin-top: 170px;
  display: flex;
  justify-content: space-around;
}
&__aside {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
}
.ant-form-vertical .ant-form-item-label > label {
  color: white;
  font-weight: bold;
}

.department { 
  color: white;
  width: 40%;
  padding: 20px;
  background-color: #151730;
  display: flex;
  flex-direction: column;
}

.mainInfo { 
  width: 40%;
  padding: 20px;
  background-color: #151730;
}
.address { 
  width: 40%;
  padding: 20px;
  background-color: #151730;
}

.labelFirst {
  display: flex;
  flex-direction: column-reverse;
}

.inputSpace {
  margin-bottom: 15px;
}

.save {
  margin: 0 auto;
  &__button {
      font-size: 18px;
      color: white;
      background-color: #2a8713;
      /* text-decoration: none; */
      border: none;
  }
}



.ant-picker-cell-inner{
  transition: none;
  &:hover {

    background-color: #2a8713 !important;
    color: white;
  }
}
.ant-select-item-option {
  &:hover {
    background-color: #2a8713;
    color: white;
  }
}

.ant-picker-suffix {
  color: #2a8713;
}