@import "../../styles/variableMixins";

.logo {
    background-color: white;
    height: 150px;
    width: 270px;
    flex-direction: column;
    @include center();
    & img {
        width: 100px;
        height: 100px;
    }
        &__title {
        margin-top: 10px;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        line-height: 4px;
        font-weight: 500;
        color: black;
            &__maj {
                font-size: 18px;
            }
        }
}