@import "../../styles/variableMixins";

.register {
    font-family: $bodyFont;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    @include center();
    background-color: $background;
    &__formWrapper {
        position: absolute;
        bottom: 0;
        width: 90%;
        height: 90%;
        background-color: $desktopBackground;
    }

}



