.register {
    font-family: 'Ubuntu', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2B325E;
    &__title {
  
        color: white;
        font-size:large;
        background-color: #2a8713;
        padding:15px 40px;
        width: 50px;
        transition: ease-in-out;
        border-radius: 10px 10px 0 0;
        cursor: pointer;
        &:hover {
            background-color: #94c389;
            color: #1F2243;
        }
    }
    &__formWrapper {
        position: absolute;
        bottom: 0;
        width: 90%;
        height: 90%;
        background-color: #1F2243;
    }

}

button,a{
    font-family: 'Source Sans Pro', sans-serif !important;
}

@media only screen and (max-width: 1000px){
    // TABLE
    body {
        overflow: scroll;
        background-color: #2B325E;
    }
    .EmployeeTable {
        position: static;
        width: 100%;
        height: 100%;
    }
    .table {
        padding: 25px 0;
    }
    .logo {
        display: none;
    }
    .ant-input-group-wrapper , .ant-input-search {
        margin: 30px auto 15px auto;
    }
    .ant-table-pagination {
        text-align: center;
        display: block;
    }
    .nav-header {
        justify-content: center !important;
        &__titles {
            margin-top: 0 !important;
        }
    }
    .ant-pagination-total-text {
        display: block;
    }
    // FORM

    .registerForm {
        margin-bottom: 25px;
        margin-top: 30px !important;
        gap: 50px;
        flex-direction: column;
        align-items: center;
        &__main-content {
            &__titles {
                border-radius: 0 !important;
            }
        }
    }
    .mainInfo, .address {
        width: 100% !important;
        border-radius: 0;
    }
    .register {
        overflow: auto;
        &__formWrapper {
            position: static;
            height: 100%;
            width: 100%;
    }
    }
    .save__button {
        margin: 0 auto 20px auto !important;
    }

      
}

@media only screen and (max-width: 425px){
    .ant-form-item {
        width: 100% !important;
        margin: 0 auto;
      }
}