.register {
    width: 100vw;
    height: 100vh;
    display: flex;
    &__formWrapper {
        width: 80%;
        &__title {
            margin: 0 auto;
            padding: 5px 20px;
            background-color: #6C8C50;
            font-size: 50px;
            font-weight: 500;
            width: 350px;
            color: white;
        }
    }
}