.navIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    &__title {
        margin-top: 5px;
        font-size: 18px;
    }
}

.registrate {
    background-color: #6C8C50;
    color: white;
}
.employ {
    background-color: white;
    color:#6C8C50
}