// VARIABLES 
$titleFont : 'Source Sans Pro', sans-serif;
$bodyFont: 'Ubuntu', sans-serif;






// MIXINS
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin reset {
    margin: 0;
    padding: 0;
}